{% extends "base.html" %}
{% block content %}
<h2>Авторизация</h2>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {% for field in form %}
    {% if loop.index < 3 %}
    {{ field.label() }} <br>
    {{ field(class="form-control") }} <br>
    {% for error in field.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}